p {
	color: red;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: purple;
  color: white;
}