
body {
	font-size: 1em;
	background-color: #6B75BE;
}

h1 {
	font-family: 'Indie Flower', cursive;
	background-color: #E08C2A;
	text-align: center;
	border: 5px;
	border-style: dashed;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 50px;
	padding-top: 50px;
}

#mainContent {
	margin-left: 150px;
	margin-right: 75px;	
}

.centerMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	width: 130px;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;

}

nav ul li a:hover {
	background-color: #555;
	color: #fff;
}

.active {
	background-color: #4CAF50;
	color: #fff;
}



