p {
	color: #552700;
}

body {
	font-size: 1.5em;
	background-color: #86C98A;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #f1f1f1;
	position: fixed;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
}

nav ul li a:hover {
	background-color: #555;
	color: #fff;
}

.active {
	background-color: #4CAF50;
	color: #fff;
}

h1 {
	font-family: 'Amatic SC', cursive;
	color: #061539;
	text-align: center;
	border-style: dashed;
	border-width: 4px;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #7887AB;
}

#mainContent {
	margin-left: 150px;
	padding-left: 25px;
	margin-right: 75px;
}

.centerMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.imgRight {
	float: right;
	padding: 15px;
	max-width: 30%;
	transform: rotate(45deg);
}

img {
		max-width: 100%;
		height: auto;
		padding-bottom: 50px;
}


@media screen and (max-width: 600px) {
	
	
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		top:0;
		left: 0;
		width: 100%;
		background-color: #f1f1f1;
		position: fixed;
	}

	nav ul li {
		float: left;
		border-right: 1px solid black;
	}
	
	nav ul li a {
		display: block;
		text-decoration: none;
		color: #000;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 16px;
		padding-right: 16px;
		font-size: 0.75em;
	}
	
	#mainContent {
		margin-left: 2%;
		padding-left: 0;
		margin-right: 2%;
		padding-top: 10px;
	}
	
	
}





